/*****GENERAL STYLING*****/
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
p {
 padding: 1em 0.2em 0;
 font-size: 1.8em;
}
ul {
  position: absolute;
  right: 2%;
}
button.overlay-btn {
  display: block;
  width: 40%;
  margin: 1.5em auto;
  padding: 0.5em 1.5em;
  letter-spacing: 2px;
}
/*****CLASSES*****/
.w-100 {
  height: 650px;
  padding: 0 6em;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
}
.overlay p {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  padding: 3em 3em 1em;
  font-size: 1em;
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  top: 30%;
  left: 35%;
}

li.nav-item {
  padding: 10px;
  transition: all 0.5s ease-in-out;
}
li.nav-item:hover {
  background-color: #4c535a;
}
.hide {
    display: none;
}
.card {
  margin-top: 2em;
}
.row {
  padding: 1em 1em 0;
}
.spacing {
  margin-bottom: 0.9em;
}
.input {
  display: block;
  margin-left: 10px;
  padding-bottom: 10px;
  position: relative;
}
.input input {
  margin-right: 5px;
  position: absolute;
  top: 10%;
}
span.choice{
  display: inline-block;
  font-size: 1em;
  text-align: justify;
  width: 70%;
  margin-left: 2em;
}
.btn {
  margin: 0 1.5em 1.5em;
}
.col-lg-4 {
  flex: 0 0 30.3333%;
  margin: 1%;
}
img.suggestion-img {
  display: block;
  margin: 1% auto 1%;
  width: 150px;
  max-width: 100%;
  height: 150px;
  object-fit: fill;
}
.suggestions-p {
  border-top: 1px solid #eee;
  font-size: 0.9em;
}
